* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    text-align: center;
    position: relative;
}

canvas#game-canvas {
    border: 1px solid black;
}
